[Unit]
Description=PostgreSQL File System
After=postgresql.service

[Service]
Type=simple
User=pfs
Group=pfs

ExecStartPre=/usr/bin/psql -f /home/pfs/init.sql
ExecStart=/home/pfs/pfs.rb /home/pfs/t
