[Unit]
Description=Simple PUT/GET HTTP service
Requires=pfs.service
After=pfs.service

[Service]
Type=simple
User=pfs
Group=pfs

Environment=MOJO_MODE=production
ExecStart= /home/PFS daemon

[Install]
WantedBy=multi-user.target
