@(users: Seq[User])(implicit request: Request[_], user: components.AuthorisedUser)


@main("Welcome to Austopats") {
    <h1>List of Inquisitors</h1>

    <table class="table table-striped table-hover">
        <thead >
            <tr>
                <td>#</td>
                <td>Login</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            @users.map { user =>
                <tr>
                    <td>@user.id.get</td>
                    <td>@user.login</td>
                    <td>@user.name</td>
                </tr>
            }
        </tbody>
    </table>
}

