@(messages: Seq[(Message, User)])(implicit request: Request[_], user: components.AuthorisedUser, session: scala.slick.session.Session)
@import org.apache.commons.codec.binary.Hex

@main("Warp beam") {
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>Message</td>
                <td>Chaos Mark</td>
                <td>Author</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            @messages.map { case (message, author) =>
                @warp.element(message, author)
            }
        </tbody>
    </table>
}
