<html>
    <head>
        <title>
            Twitter
        </title>
    </head>
    <body>
        <%= cryptedrandom %>
        <form action='/checkrandom/<%= randomid %>' method='post'>
            <input type='text' name='id' size='64'>
            <input type='submit' value='Its me!'>
        </form>
    </body>
</html>

