<html>
    <head>
        <title>
            NSA less twitter
        </title>
    </head>
    <body>
        <%= id %>
        <% if (is_home) { %>
           <form action='/tweet' method='post'>
                <textarea name="message"></textarea>
                <br/>
                <input type="submit" value="Tweet!">
            </form>
        <% } %>
        <br/>
        <% for (var i = 0; i < tweets.length; ++i) { %>
            <%= tweets[i] %>
            <br/>
        <% } %>
    </body>
</html>
