<html>
<body>
<form method='post' action='/create'>
<input name='message'>
<submit>
</form>
<table>
<% messages.forEach(function(message) { %>
<tr>
  <td><%= message.id %></td>
  <td><%= message.message %></td>
  <td><a href="/delete/<%= message.id %>">delete</a></td>
</tr>
<% }) %>
</table>
</body>
</html>
