<html>
    <head>
        <title>
            Twitter
        </title>
    </head>
    <body>
        <p>Its you! Save you priv key!</p>
        <br/>
        <%= user.id %>
        <br/>
        <textarea>
            <%= keys.pub %>
        </textarea>
        <br/>
        <textarea>
            <%= keys.priv %>
        </textarea>
        <br/>
        <a href="/">Go to main!</a>
    </body>
</html>

