<html>
    <head>
        <title>
            Twitter
        </title>
    </head>
    <body>
        <form action='/checkpub' method='post'>
            <input type='text' name='finger' size='64'>
            <input type='submit' value='Its me!'>
        </form>
        <a href='/signup'>New on this site?</a>
    </body>
</html>
