<html>
    <head>
        <title>
            Twitter
        </title>
    </head>
    <body>
        <p>Its you! Save you priv key!</p>
        <br/>
        <%= user.id %>
        <br/>
        <textarea style="width: 522px; height: 248px;">
<%= pub %>
        </textarea>
        <br/>
        <textarea style="width: 522px; height: 248px;">
<%= priv %>
        </textarea>
        <br/>
        <a href="/">Go to main!</a>
    </body>
</html>

