<html>
    <head>
        <title>
            Twitter
        </title>
    </head>
    <body>
        <% for (var i = 0; i < users.length; ++i) { %>
        <div>
            <div><%= users[i].id %></div>
            <div><%= users[i].pub %></div>
        <div>
        <% } %>
    </body>
</html>
