xmlFlagsFile = ../scoreboard/flags.xml
xmlScoreboardFile = ../scoreboard/scoreboard.xml
xmlTeamsFile = ../scoreboard/teams.xml
xmlServicesFile = ../scoreboard/services.xml
	
log4jConfigFile = log4j.cfg
dbConfigFile = database.cfg
checkersDir = checkers/

#seconds
secureFlagsInterval = 60
	
#seconds
getFlagsClientTimeout = 20

#seconds (anti-bruteforce)
getFlagsMinReconnectTime = 5

#bad flags (anti-bruteforce)
getFlagsDisconnectThreshold = 50
	
#seconds
flagExpireInterval = 900

#milliseconds
checkerRunTimeout = 30000

#seconds
roundLength = 120

#seconds
cacheUpdateInterval = 5
	
flagLength = 32
getFlagsPort = 31337
getFlagsIface = 0.0.0.0; 
