<table class="accts">
<thead>
<tr>
<th>ACCT</th>
<th>Balance</th>
<th>Max sum</th>
<th>Currency</th>
</tr>
</thead>
<tbody>
_tbody_
</tbody>
</table>
<a href="index.php?action=addacct" class="btn btn-large btn-primary">Add acct</a>
