<table class="accts">
<thead>
<tr>
<th>#</th>
<th>ACCT</th>
<th>Type</th>
<th>Balance</th>
</tr>
</thead>
<tbody>
_tbody_
</tbody>
</table>
<a href="index.php?action=addacct" class="btn btn-large btn-primary">Добывить карту</a>
