<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>RuCTFe Banking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/site.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/bootstrap-responsive.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/docs.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/prettify.css" media="screen" />
<link href="/css/bootstrap-switch.css" rel="stylesheet">
  <link href="/css/mystyle.css" rel="stylesheet" media="screen" />
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/img/favicon.png">
  </head>

  <body>
          <!--NAVBAR-->
        <div class="navbar navbar-static-top">
                <nav class ="navbar-inner">
                        <a class="brand">Online Banking</a>
                        <ul class="nav">
                                <li class="divider-vertical"></li>
                                <li><a href="index.php"><i class="icon-home"></i>Home</a></li>
                                   <li><a href="index.php?action=associates">Associates</a></li>
                               _links_
                                
                        </ul>
                    
                </nav>
        </div>
        <div class="container row">

             
  <div class="well carousel slide span10" id="myCarousel">
       
  