<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>_title_</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/site.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/bootstrap-responsive.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/docs.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://mybootstrap.ru/wp-content/themes/clear-theme/styles/prettify.css" media="screen" />
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/img/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
            _login_
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
