  
     <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Новости банка!</h1>
        <p>_news_</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>